.text-gradient {
    font-weight: 800;
    color: darkblue;
}

@supports (--css: variables) {
    .text-gradient {
        background: linear-gradient(to right, darkblue, darkorchid);
        /* create bg gradient */
        color: transparent;
        /* hide text fill */
        background-clip: text;
        /* use text as clipping mask for bg */
    }

    .text-gradient::selection {
        color: white;
        background: darkorchid;
    }
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}


.parent {
    background-color: hsl(0, 0%, 100%);

    /* set height + overflow */
    --scroll-gap: 2em;
    height: 88vh;
    overflow: auto;
    padding: var(--scroll-gap);

    /* set scroll snap 👇 */
    scroll-snap-type: y mandatory;
}

.child {
    /* set alignment 👇 */
    scroll-snap-align: center;

    /* align content */
    display: flex;
    align-items: center;
    justify-content: center;

    /* set height */
    height: calc(100vh - 3 * var(--scroll-gap));

    /* style stuff */
    border-radius: 0.4em;
    padding: 1.25em;
    box-shadow: 0 0.9px 1.5px rgba(0, 0, 0, 0.03),
        0 3.1px 5.5px rgba(0, 0, 0, 0.08),
        0 14px 25px rgba(0, 0, 0, 0.12);
}

.child:not(:last-child) {
    margin-bottom: var(--scroll-gap);
    /* grid gap */
}

.child:nth-child(1) {
    background-color: hsl(270, 3%, 87%);
}

.child:nth-child(1) h1 {
    color: hsl(165, 100%, 96%);
}

.child:nth-child(2) {
    background-color: hsl(270, 3%, 87%);
}

.child:nth-child(2) h1 {
    color: hsl(165, 100%, 96%);
}

.child:nth-child(3) {
    background-color: hsl(270, 3%, 87%);
}

.child:nth-child(3) h1 {
    color: hsl(165, 100%, 96%);
}

.child:nth-child(4) {
    background-color: hsl(270, 3%, 87%);
}

.child:nth-child(4) h1 {
    color: hsl(165, 100%, 96%);
}