body {
    font-family: 'Playfair Display', sans-serif;
    background-color: #FFDAB9;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    margin-top: 50px;
    /* display: flex;
    flex-wrap: wrap; */
}

.heading {
    font-size: 36px;
    margin-bottom: 30px;
    color: #333;
}

.tabs {
    width: 85%;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.tab-header {
    display: flex;
    justify-content: center;
    background-color: #fff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 20px 0;
}

.tab-button {
    padding: 12px 20px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 18px;
    color: #555;
    transition: color 0.3s ease;
    /* Add smooth transition for color change */
    font-family: 'Playfair Display', serif;
}

.tab-button.active {
    color: #080808;
    /* Change color for active tab */
}

.tab-content {
    padding: 20px;
    text-align: left;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    /* margin-top: -2px; */
}

.hidden {
    display: none;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.chart-container {
    text-align: center;
}

.chart-title {
    font-size: 32px;
    margin-bottom: 15px;
    color: #333;
}

.legend-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.legend-item {
    display: flex;
    align-items: center;
    margin-right: 10px;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
}

.legend-item span {
    margin-left: 5px;
}

.chart-image {
    max-width: 70%;
    /* Ensure the image does not exceed the container width */
    height: auto;
    /* Maintain aspect ratio */
    display: block;
    /* Ensure proper alignment */
    margin: 0 auto;
    /* Center the image horizontally */
    border: 2px solid #333;
    /* Add a border for visual clarity */
    box-sizing: border-box;
    /* Include border in the width calculation */
}

figcaption {
    text-align: center;
    font-style: italic;
    margin-top: 5px;
    /* Adjust as needed */
    color: #000000;
    /* Adjust the color as per your design */
    font-size: 15px;
    /* Adjust the font size as per your design */
}