.parent {
    background-color: hsl(96, 10%, 11%);

    /* set height + overflow */
    --scroll-gap: 2em;
    height: 100vh;
    overflow: auto;
    padding: var(--scroll-gap);

    /* set scroll snap 👇 */
    scroll-snap-type: y mandatory;
}

.child {
    /* set alignment 👇 */
    scroll-snap-align: center;

    /* align content */
    display: flex;
    align-items: center;
    justify-content: center;

    /* set height */
    height: calc(100vh - 3 * var(--scroll-gap));

    /* style stuff */
    border-radius: 0.4em;
    padding: 1.25em;
    box-shadow: 0 0.9px 1.5px rgba(0, 0, 0, 0.03),
        0 3.1px 5.5px rgba(0, 0, 0, 0.08),
        0 14px 25px rgba(0, 0, 0, 0.12);
}

.child:not(:last-child) {
    margin-bottom: var(--scroll-gap);
    /* grid gap */
}

.child:nth-child(1) {
    background-color: hsl(285, 19%, 44%);
}

.child:nth-child(1) h1 {
    color: hsl(165, 100%, 96%);
}

.child:nth-child(2) {
    background-color: hsl(284, 15%, 47%);
}

.child:nth-child(2) h1 {
    color: hsl(283, 11%, 50%);
}

.child:nth-child(3) {
    background-color: hsl(286, 7%, 53%);
}

.child:nth-child(3) h1 {
    color: hsl(165, 100%, 96%);
}

.child:nth-child(4) {
    background-color: hsl(285, 4%, 56%);
}

.child:nth-child(4) h1 {
    color: hsl(165, 100%, 96%);
}